<!DOCTYPE html>
<html>
  <head>
    <title>模板堂后台</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
    <script type="text/javascript" src="/javascripts/jquery-1.11.1.js"></script>
  </head>
  <body>
  	<!--content-->
    <div id="content">
    	<div id="gl">
    		<span class="span1">ECSHOP管理中心</span>
    		<span class="span1"> - 添加新商品</span>
    		<a href="#"><img src="/images/jnsy.png"></a>
    		<a href="#" id="splb">商品列表</a>
    	</div>
    	<div id="cont">
    		<div id="ctop">
    			<li class="lid">通用信息</li>
    			<li class="lim">详细描述</li>
    			<li class="lim">其他信息</li>
    			<li class="lim">商品属性</li>
    			<li class="lim">商品相册</li>
    			<li class="lim">关联商品</li>
    			<li class="lim">配件</li>
    			<li class="lim">关联文章</li>
    		</div>
    		<div id="tcont">
    			<form id="frm" action="/api/add_goods" method="post" enctype="multipart/form-data">
    				<table>
    					<tr>
    						<td class="label">商品名称：</td>
                            <td><input type="text" name="goods_name" id="goods_name"></td>
    					</tr>
    					<tr>
    						<td class="label"><img src="images/notice.gif">商品货号 :&nbsp;</td>
                            <td><input type="text" name=""><br><span class="nspan">如果您不输入商品号，系统将自动生成一个唯一的货号</span></td>
    					</tr>
    					<tr>
    						<td class="label">商品分类：</td>
                            <td><select><option></option></select><a href="#" class="tjfl">添加分类</a></td>
    					</tr>
    					<tr>
    						<td class="label">拓展分类：</td>
                            <td><input type="button" name="" class="btn" value="添加"></td>
    					</tr>
    					<tr>
    						<td class="label">商品品牌：</td>
                            <td><select><option></option></select><a href="#" class="tjfl">添加品牌</a></td>
    					</tr>
    					<tr>
    						<td class="label">本店售价：</td>
                            <td><input type="text" name="price" id="price"><input type="button" name="" value="按市场价计算" class="js"></td>
    					</tr>
    					<tr>
    						<td class="label"><img src="images/notice.gif">会员价格：</td>
                            <td><input type="text" name=""></td>
    					</tr>
    					<tr>
    						<td class="label"><img src="images/notice.gif">商品优惠价格：</td>
                            <td><input type="text" name=""></td>
    					</tr>
    					<tr>
    						<td class="label">市场售价：</td>
                            <td><input type="text" name=""><input type="button" name="" value="取整数" class="js"></td>
    					</tr>
    					<tr>
    						<td class="label">虚拟销量：</td>
                            <td><input type="text" name=""></td>
    					</tr>
                        <tr>
                            <td class="label"><img src="images/notice.gif">赠送消费积分数：</td>
                            <td><input type="text" name=""></td>
                        </tr>
                        <tr>
                            <td class="label"><img src="images/notice.gif">赠送等级积分数：</td>
                            <td><input type="text" name=""></td>
                        </tr>
                        <tr>
                            <td class="label"><img src="images/notice.gif">积分购买金额：</td>
                            <td><input type="text" name=""></td>
                        </tr>
                        <tr>
                            <td class="label">促销价：</td>
                            <td><input type="text" name=""></td>
                        </tr>
                        <tr>
                            <td class="label">促销日期：</td>
                            <td><input type="text" name=""></td>
                        </tr>
                        <tr>
                            <td class="label">上传商品图片：</td>
                            <td><input type="file" name="img" class="js" value="选择文件" id="img"><br><input type="text" name=""></td>
                        </tr>
                        <tr>
                            <td class="label">上传商品缩略图：</td>
                            <td><input type="text" name=""></td>
                        </tr>
                        <tr>
                            <td class="label"></td>
                            <td>
                            <input type="button" name="" class="btn" value="确定" onclick="addGoods()" >
                            <input type="reset" name="" class="btn">
                            </td>
                        </tr>
                        <tr>
                            <td class="label">上传商品缩略图：<input type="text" name=""></td>
                        </tr>
    				</table>
    			</form>
    		</div>
    	</div>
    </div>
  </body>
</html>
<script type="text/javascript">
    function addGoods(){
        document.getElementById("frm").submit();
        location.href = "/goods"
    }
</script>