<!DOCTYPE html>
<html>
  <head>
    <title>模板堂后台</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
  </head>
  <body>
    <div id="head">
    	<h1><img src="/images/topLogo.png"></h1>
    	<ul id="ulist">
    		<li>
    			<a href="#">
    				<img src="/images/topmune_09.png">
    				<span>更多模板堂产品</span>
    			</a>
    		</li>
    		<li>
    			<a href="#">
    				<img src="/images/topmune_01.png">
    				<span>开店向导</span>
    			</a>
    		</li>
    		<li>
    			<a href="#">
    				<img src="/images/topmune_02.png">
    				<span>记事本</span>
    			</a>
    		</li>
    		<li>
    			<a href="#">
    				<img src="/images/topmune_03.png">
    				<span>刷新</span>
    			</a>
    		</li>
    		<li>
    			<a href="#">
    				<img src="/images/topmune_04.png">
    				<span>个人设置</span>
    			</a>
    		</li>
    		<li>
    			<a href="#">
    				<img src="/images/topmune_05.png">
    				<span>管理员留言</span>
    			</a>
    		</li>
    		<li>
    			<a href="#">
    				<img src="/images/topmune_06.png">
    				<span>查看网店</span>
    			</a>
    		</li>
    		<li>
    			<a href="#">
    				<img src="/images/topmune_007.png">
    				<span>帮助</span>
    			</a>
    		</li>
    		<li>
    			<a href="#">
    				<img src="/images/topmune_07.png">
    				<span>关于ECSHOP</span>
    			</a>
    		</li>
    		<li>
    			<a href="#">
    				<img src="/images/qingchu.png">
    				<span>清除缓存</span>
    			</a>
    		</li>
    		<li>
    			<a href="#">
    				<img src="/images/topmune_08.png">
    				<span>退出</span>
    			</a>
    		</li>
    	</ul>
    </div>
    <div id="nav">
    	<ul>
    		<li>
    			<a href="#">
    				<img src="/images/index-11_07.png">
    				<span>起始页</span>
    			</a>
    			<span class="xg"></span>
    		</li>
    		<li>
    			<a href="#">
    				<img src="/images/index-11_41.png">
    				<span>设置导航栏</span>
    			</a>
    			<span class="xg"></span>
    		</li>
    		<li>
    			<a href="#">
    				<img src="/images/index-11_09.png">
    				<span>商品管理</span>
    				<span class="num">30</span>
    			</a>
    			<span class="xg"></span>
    		</li>
    		<li>
    			<a href="#">
    				<img src="/images/dd.png">
    				<span>订单管理</span>
    				<span class="num">0</span>
    			</a>
    			<span class="xg"></span>
    		</li>
    		<li>
    			<a href="#">
    				<img src="/images/index-11_13.png">
    				<span>广告管理</span>
    				<span class="num">0</span>
    			</a>
    			<span class="xg"></span>
    		</li>
    		<li>
    			<a href="#">
    				<img src="/images/index-11_19.png">
    				<span>用户管理</span>
    				<span class="num">0</span>
    			</a>
    			<span class="xg"></span>
    		</li>
    		<li>
    			<a href="#">用户评论</a>
    		</li>
    		<li>
    			<a href="#">商品列表</a>
    		</li>
    		<li>
    			<a href="#">会员列表</a>
    		</li>
    		<li>
    			<a href="#">商店设置</a>
    		</li>
    		<li>
    			<a href="#">移动端</a>
    		</li>
    		<li>
    			<a href="#">服务市场</a>
    		</li>
    	</ul>
    </div>
    <div id="tab">
    	<div id="top">导航菜单</div>
    	<ul>
    		<li class="list jia bj1">商品管理</li>
    		<li class="list jia bj2">促销管理</li>
    		<li class="list jia bj3">订单管理</li>
    		<li class="list jia bj4">广告管理</li>
    		<li class="list jia bj5">报表统计</li>
    		<li class="list jia bj6">文章管理</li>
    		<li class="list jia bj7">会员管理</li>
    		<li class="list jia bj8">权限管理</li>
    		<li class="list jia bj9">系统设置</li>
    		<li class="list jia bj10">模板管理</li>
    		<li class="list jia bj11">数据库管理</li>
    		<li class="list jia bj12">短信管理</li>
    		<li class="list jia bj13">推荐管理</li>
    		<li class="list jia bj14">邮件群发管理</li>
    		<li class="list jia bj15">移动版管理</li>
    		<li class="list jia bj15">模板堂知识库</li>
    	</ul>
    </div>
    <div id="content">
    	<div id="gl">
    		<span class="span1">ECSHOP管理中心</span>
    		<span class="span1"> - 添加新商品</span>
    		<a href="#"><img src="/images/jnsy.png"></a>
    		<a href="#" id="splb">商品列表</a>
    	</div>
    	<div id="cont">
    		<div id="ctop">
    			<li class="lid">通用信息</li>
    			<li class="lim">详细描述</li>
    			<li class="lim">其他信息</li>
    			<li class="lim">商品属性</li>
    			<li class="lim">商品相册</li>
    			<li class="lim">关联商品</li>
    			<li class="lim">配件</li>
    			<li class="lim">关联文章</li>
    		</div>
    		<div id="tcont">
    			<form>
    				<table>
    					<tr>
    						<td class="label">商品名称：</td>
                            <td><input type="text" name=""></td>
    					</tr>
    					<tr>
    						<td class="label"><img src="images/notice.gif">商品货号 :&nbsp;</td>
                            <td><input type="text" name=""><br><span class="nspan">如果您不输入商品号，系统将自动生成一个唯一的货号</span></td>
    					</tr>
    					<tr>
    						<td class="label">商品分类：</td>
                            <td><select><option></option></select><a href="#" class="tjfl">添加分类</a></td>
    					</tr>
    					<tr>
    						<td class="label">拓展分类：</td>
                            <td><input type="button" name="" class="btn" value="添加"></td>
    					</tr>
    					<tr>
    						<td class="label">商品品牌：</td>
                            <td><select><option></option></select><a href="#" class="tjfl">添加品牌</a></td>
    					</tr>
    					<tr>
    						<td class="label">本店售价：</td>
                            <td><input type="text" name=""><input type="button" name="" value="按市场价计算" class="js"></td>
    					</tr>
    					<tr>
    						<td class="label"><img src="images/notice.gif">会员价格：</td>
                            <td><input type="text" name=""></td>
    					</tr>
    					<tr>
    						<td class="label"><img src="images/notice.gif">商品优惠价格：</td>
                            <td><input type="text" name=""></td>
    					</tr>
    					<tr>
    						<td class="label">市场售价：</td>
                            <td><input type="text" name=""><input type="button" name="" value="取整数" class="js"></td>
    					</tr>
    					<tr>
    						<td class="label">虚拟销量：</td>
                            <td><input type="text" name=""></td>
    					</tr>
                        <tr>
                            <td class="label"><img src="images/notice.gif">赠送消费积分数：</td>
                            <td><input type="text" name=""></td>
                        </tr>
                        <tr>
                            <td class="label"><img src="images/notice.gif">赠送等级积分数：</td>
                            <td><input type="text" name=""></td>
                        </tr>
                        <tr>
                            <td class="label"><img src="images/notice.gif">积分购买金额：</td>
                            <td><input type="text" name=""></td>
                        </tr>
                        <tr>
                            <td class="label">促销价：</td>
                            <td><input type="text" name=""></td>
                        </tr>
                        <tr>
                            <td class="label">促销日期：</td>
                            <td><input type="text" name=""></td>
                        </tr>
                        <tr>
                            <td class="label">上传商品图片：</td>
                            <td><input type="button" name="" class="js" value="选择文件"><br><input type="text" name=""></td>
                        </tr>
                        <tr>
                            <td class="label">上传商品缩略图：</td>
                            <td><input type="text" name=""></td>
                        </tr>
                        <tr>
                            <td class="label"></td>
                            <td>
                            <input type="button" name="" class="btn" value="确定">
                            <input type="reset" name="" class="btn">
                            </td>
                        </tr>
                        <tr>
                            <td class="label">上传商品缩略图：<input type="text" name=""></td>
                        </tr>
    				</table>
    			</form>
    		</div>
    	</div>
    </div>
  </body>
</html>
