<!DOCTYPE html>
<html>
  <head>
    <title>登录页面</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/login.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/font_0utdqxwamjfywrk9/iconfont.css">
  </head>
  <body>
  	<img src="/images/shopex.png" id="log">
  	<div id="logo">
  		<img src="/images/ecshop-logo.png">
  	</div>
  	<div id="content">
  		<div id="top">
  			<div id="cont">
  				<div class="uname">
  					<i class="iconfont">&#xe623;</i>
  					<input type="text" name="" class="unm" placeholder="用户名">
  				</div>
  				<div class="uname">
  					<i class="iconfont">&#xe65e;</i>
  					<input type="text" name="" class="unm" placeholder="密码">
  				</div>
  				<div class="uname">
  					<i class="iconfont">&#xe60d;</i>
  					<input type="text" name="" class="unm" placeholder="验证码">
  					<div id="yzm">wtsg</div>
  				</div>
  				<input type="submit" name="" value="登录" id="dl">
  				<div id="bot">
  					<input type="checkbox" name="">保存登录信息
  					<a href="#">忘记密码？</a>
  					<a href="#">返回店铺首页>></a>
  				</div>
  				
  			</div>
  		</div>
  		<div id="bottom"></div>
  	</div>
  </body>
</html>