*{margin:0px;padding: 0px}
body{margin: 0px;padding: 0px;background: #192e32;}
#head{background: #303030;height: 76px;}
h1{margin-left: 30px;margin-top: 20px;float: left;}
#ulist{float: right;height: 75px;margin: 0px;padding: 0px;}
#ulist li{float: left;width: 82px;height: 82px;margin: 0px;padding: 0px;}
#ulist li a{display: block;text-decoration: none;color: #fff;text-align: center;height: 67px;width: 82px;padding-top: 8px}
#ulist li a img{height: 35px;margin:0 auto;}
#ulist li a span{display: block;margin-top: 6px;font-size: 12px}
#nav{background: #575757;height: 41px;border-bottom:1px solid #212121;}
#nav ul{margin-left: 15px;}
#nav ul li{float: left;display: block;height: 41px;line-height: 41px;position: relative;}
#nav ul li a{float: left;color: #fff;padding: 0 12px;display: block;text-decoration: none;font-size: 12px;}
#nav ul li a img{width: 17px;height: 18px;vertical-align: middle;}
#nav ul li a span{margin-left: 10px}
.xg{border-left: 1px solid #303030;border-right: 1px solid #656565}
.num{width: 32px;height: 16px;background: url(/images/index-11_22.png) no-repeat;display: inline-block;text-align: center;line-height: 16px;vertical-align: middle;}
#top{color: #fff;padding-left: 10px;height: 34px;background: #303030;line-height: 34px;font-size: 14px;font-weight: bold;margin-left: 16px}
#tab{float: left;width: 180px;height: 524px;overflow: auto;}
#content{margin-left: 180px;background: url(/images/body_bj.jpg);height: 1000px;overflow: auto;padding: 10px;min-width: 773px;font-family: 微软雅黑；}
.list{display: block;border-top: 1px solid #7f7f7f;width: 100%;color: #fff;line-height: 42px;text-indent: 40px;font-size: 12px;}
.bj1{background:#575757 url(/images/menu_1.png) 9px 0 no-repeat;}
.bj2{background:#575757 url(/images/menu_2.png) 9px 0 no-repeat;}
.bj3{background:#575757 url(/images/menu_3.png) 9px 0 no-repeat;}
.bj4{background:#575757 url(/images/menu_4.png) 9px 0 no-repeat;}
.bj5{background:#575757 url(/images/menu_5.png) 9px 0 no-repeat;}
.bj6{background:#575757 url(/images/menu_6.png) 9px 0 no-repeat;}
.bj7{background:#575757 url(/images/menu_7.png) 9px 0 no-repeat;}
.bj8{background:#575757 url(/images/menu_8.png) 9px 0 no-repeat;}
.bj9{background:#575757 url(/images/menu_9.png) 9px 0 no-repeat;}
.bj10{background:#575757 url(/images/menu_10.png) 9px 0 no-repeat;}
.bj11{background:#575757 url(/images/menu_11.png) 9px 0 no-repeat;}
.bj12{background:#575757 url(/images/menu_12.png) 9px 0 no-repeat;}
.bj13{background:#575757 url(/images/menu_13.png) 9px 0 no-repeat;}
.bj14{background:#575757 url(/images/menu_14.png) 9px 0 no-repeat;}
.bj15{background:#575757 url(/images/menu_15.png) 9px 0 no-repeat;}
.bj15{background:#575757 url(/images/menu_15.png) 9px 0 no-repeat;}
#gl{border-bottom: 1px solid #ccc;color: #333;padding: 7px 10px;margin-bottom: 10px;overflow: hidden;}
.span1{font-size: 18px;color: #4c4c4c;}